<!DOCTYPE html>
   <html>
     <head>
        <title>Welcome to sMVC.js</title>
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <style>
          body {
            font-family: 'Oxygen', sans-serif;
            font-size: 46px;
          }
        </style>
     </head>
     <body>
       <center><p style="margin-top:150px;">Welcome to sMVC.js</p></center>
     </body>
</html>
